*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #dd1616 , #1a3fe6);
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.one .main{
    width: 350px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1) , rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
}

.one .main h1{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.one .main form input{
    width: 100%;
    padding: 10px 100px 10px 10px;
    border-radius: 20px;
    margin: 10px 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}

.one label{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
}

.one .main button{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 7px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #0026ffe0;
    color: #fff;
}